{% extends "site_base.html" %}

{% load i18n bootstrap_tags %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<section>
  <div class="container">

<form method="post">
    <legend>My Form</legend>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
      <a href="{% url 'play:list' %}" class="btn">Go back</a>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

  </div>
</section>
{% endblock %}
