{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<section>
  <div class="container">



    <a href="{% url 'play:add'%}"> {% trans "add" %}</a>
    <table>
      <tr>
        <th>Urls</th>
      </tr>
      {% for object in objects %}
      <tr>
        <td>
          {{object.url}}  
        </td>
      </tr>

      {% endfor %}
    </table>

  </div>
</section>
{% endblock %}
